<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			<img src="http://www.continuaalliance.org/sites/default/files/continua_only_logo.gif"/>
		</p>
		<p>
			<b style="color: red;">
				<span class="glyphicon glyphicon-warning-sign"/> 
				This is not a production server!
			</b> 
			Do not store any information here that contains personal health information
			or any other confidential information. This server will be regularly purged 
			and reloaded with fixed test data. 
		</p>
	</div>
</html>
